*{
    font-family: "century gothic";
    color: #443939;
    font-size: 14px;
}
.formulaire{
float: left;
margin-left: 25px;
}
.sup{
float: left;
margin-left: 25px;

}
.slider
{
    overflow: hidden;
    width: 470px;

}
.slides
{
    float: left;
    width: calc(500px * 3);
    animation: glisse 15s infinite ;
}
.slide
{
    float: left;

}

@keyframes glisse
{
    0%{transform: translateX(0);}
    50%{transform: translate(-500px);}
    90%{transform: translate(-1000px);}
    0%{transform: translate(0px);}
}

        
.leftbox{
    margin-left: 850px;
    margin-right: 100px;
    margin-top: -43.5%;


}

.txt{
   float: left;
    /*background-color:#EFF6FA;*/
    
}
#reserve{
    margin-top: 30px;
    margin-left: 35%;
    height: 50px;
    width: 120px;
}
.tout{
    background-color:#EFF6FA;
    height: 900px;
    background-size: cover;
}
.slider
{
    float: left;
}
